<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Movies Details | Express Movies</title>
</head>
<body>
    <div class="central">
        <%- include('./partials/header') %>
    
        <h1>Détails</h1>
        <div>
            <b>Le film N°<%= movieId %> : </b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    
    <%- include('./partials/footer') %>
</body>
</html>